*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
table,
thead,
tbody,
tr,
td,
th {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
}

ul,
ol {
    list-style: none;
}

button,
input,
select,
textarea {
    font: inherit;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}
